<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @driver.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @driver.telefono %>
</p>

<p>
  <strong>Max paradas:</strong>
  <%= @driver.max_paradas %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
